<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consequuntur vel tenetur veritatis, sint odit quos
  quia exercitationem, ipsam aperiam numquam quidem delectus cum molestiae hic? Ipsam cum maiores magnam reprehenderit!
  Perspiciatis illo, consequuntur quaerat, commodi inventore aliquam vero nam blanditiis eum itaque modi soluta
  temporibus voluptatibus, consectetur consequatur! Sunt.</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"> <i class="fa fa-google left"></i> Login With Google</a>
{{/if}}